
<div class="row jumbotron">
  <div class="col-md-3">

<div class="row">
  <div class="col-md-12">
    <h4 style="    margin-bottom: 1rem;">My Friends:</h4>


  </div>
  <div   class="col-md-12">

    <!-- <ul class="list-group">
      <li class="list-group-item justify-content-between group " *ngFor="let group of groups" [class.selected]="group === currentGroup" (click)="onSelect(group)">

         {{group.name}}
        <span class="badge badge-default badge-pill">{{group?.members.length}} </span>

      </li>
    </ul> -->
  </div>
</div>

    </div>
  <div class="col-md-9">
    <div class="row">
      <div   class="col-md-12 groupInfo">
        <!-- <h3 style="display: inline;" class=""><span class="badge badge-default">{{currentGroup?.name}} group</span></h3> -->

      </div>
      <div *ngIf="noGroups" class="col-md-12 alert alert-danger noGroup" role="alert">
        <strong>Oh snap!</strong> You have no groups yet
      </div>

      <div class='msgBox' style="border-style: groove; min-height: 350px" class="col-md-12">
        msgs
      </div>
      <div class="col-md-12">
        inout



      </div>
    </div>


  <!-- <div class="row ">


  </div>
  <div class="row">

  </div> -->



  </div>

</div>
